@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

img {
    height: 250px;
    width: 250px;
}

.guns {
    height: 150px;
    width: 400px;
}

.nuke {
    height: 100px;
    width: 200px;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

figcaption {
    font-family:'VT323', monospace;
    font-size: 25px;

}